{% extends 'base.html' %}

{% block content %}
<body>
    <h1>FAKULTAS KEGURUAN ILMU PENDIDIKAN</h1>
    <h2>Terdiri dari:</h2>
    <p>Pendidikan non formal, pendidikan bahasa indonesia, pendidikan bahasa inggris, pendidikan biologi, pendidikan matematika, PGSD, PG PAUD, BK, pendidikan fisika, pendidikan kimia, pendidikan IPA, pendidikan khusus, pendidikan ppkn, pendidikan sejarah, pendidikan seni dan pertunjukan, pendidikan sosiologi, pendidikan vokasional teknik mesin, pendidikan vokasional teknik elektro</p>
</body>
{% endblock %}